<h2>Check <strong><%= params[:format] %></strong> slots</h2>

<%= link_to "Add a slot", new_slot_path(params[:format]), class: "btn btn-outline-warning m-5"%>

<ul class="my-5">
  <% @slots.each do |slot| %>
    <%= link_to slot_path(slot) do %>
      <li class='card-product'>
        <div class="card-product-infos">

          <div class="badge rounded-pill text-bg-primary">
            <% if slot.programming_language == 'C#' %>
              <i class="devicon-csharp-plain"></i>
            <% elsif slot.programming_language == 'C++' %>
              <i class="devicon-cplusplus-plain"></i>
            <% else %>
              <i class="devicon-<%= slot.programming_language.downcase %>-plain"></i>
            <% end %>
            <%= slot.programming_language %>
          </div>

          <div class="d-flex justify-content-between">

            <div class="slot-time-labels">
              <p>
              Date: <%= slot.start_date.strftime('%d/%m') %> - <%= slot.end_date.strftime('%d/%m') %>
              </p>
              <p>
              Time: <%= slot.start_time.strftime('%R') %> - <%= slot.end_time.strftime('%R') %>
              </p>
            </div>

            <div class="slot-info">
              <p>
              User: <%= slot.user.name %>
              </p>
              <h3>
              <%= slot.price %> USD
              </h3>
            </div>

          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%#= link_to "See details", slot_path(slot), class: "card-product", do %>
  <%# <div class="card-product"> %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
    <%# <div class="card-product-infos"> %>
      <%# <h2>slot.programming_language</h2> %>
      <%# <p>Product description with <strong>relevant info</strong> only.</p> %>
  <%# </div> %>
<%# end %>
