<% if @slots.present? %>
  <h2>Check <strong><%= @slots.first.programming_language %></strong> slots</h2>
<% else %>
  <h2>Check <strong></strong> slots</h2>
<% end %>

<ul class="my-5 text-center" style="align-items:center;">
  <% @slots.each do |slot| %>

    <li class="card my-5 p-5 rounded shadow" style="width: 30%;">

      <%= link_to slot_path(slot), class: "btn btn-primary my-3", style: "align-items:center;width:100px;align-self:center" do %>
        <h2>
          <%= slot.programming_language %>
        </h2>

        Date: <%= slot.start_date.strftime('%d/%m') %> - <%= slot.end_date.strftime('%d/%m') %>
        Time: <%= slot.start_time.strftime('%R') %> - <%= slot.end_time.strftime('%R') %>

        <%= slot.user.name %>

        <%= slot.price %>
      <% end %>

    </li>

  <% end %>
</ul>
<%= link_to "Add a slot", new_slot_path, class: "btn btn-warning"%>

<%#= link_to "See details", slot_path(slot), class: "card-product", do %>
  <%# <div class="card-product"> %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
    <%# <div class="card-product-infos"> %>
      <%# <h2>slot.programming_language</h2> %>
      <%# <p>Product description with <strong>relevant info</strong> only.</p> %>
  <%# </div> %>
<%# end %>
