
<h1 class='item-header'><%= @slot.programming_language %> slot</h1>

<div class="item-info">
  <h2><strong>Price</strong>: <strong class="price"><%= number_to_currency(@slot.price) %></strong></h2>
  <p><strong>Dev's email</strong>: <%= @slot.user.email %></p>
  <p><strong>Dev's name</strong>: <%= @slot.user.name %></p>
  <p><strong>Programming language</strong>:
    <% if @slot.programming_language == 'C#' %>
      <i class="devicon-csharp-plain colored"></i>
    <% elsif @slot.programming_language == 'C++' %>
      <i class="devicon-cplusplus-plain colored"></i>
    <% elsif @slot.programming_language == 'Rust' %>
      <i class="devicon-rust-plain"></i>
    <% else %>
      <i class="devicon-<%= @slot.programming_language.downcase %>-plain colored"></i>
    <% end %>
  <%= @slot.programming_language %></p>
  <p><strong>Date</strong>: <%= @slot.start_date.strftime('%d/%m') %> - <%= @slot.end_date.strftime('%d/%m') %></p>
  <p><strong>Time</strong>: <%= @slot.start_time.strftime('%R') %> - <%= @slot.end_time.strftime('%R') %></p>
</div>

<% if @slot.user == current_user %>
  <%= link_to "Edit this slot", edit_slot_path(@slot), class: "btn btn-info m-2" %>
  <%= link_to "Delete Slot", @slot, class: "btn btn-danger m-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this slot?" } %>
<% else %>
  <%= link_to "Book this slot", new_slot_gig_path(@slot), class: "btn btn-warning m-2" %>
  <%= link_to "See #{@slot.user.name}'s profile", user_path(@slot.user_id), class: "btn btn-primary m-2" %>
<% end %>

<%= link_to "Back to slots", slots_path(@slot.programming_language), class: "btn btn-secondary m-2" %>
