<div class="welcome mb-5">
<h1>Welcome to Dev4Dev</h1>
</div>

<% if user_signed_in? %>
  <div class="welcome">
    <p>Find a programmer by a language of your choice</p>
  </div>

    <ul class="cards">
      <li class="card-category">

        <%= link_to slots_path do %>

          <h2>
            <strong>
              All
            </strong>
            Slots
          </h2>

        <% end %>
      <% Slot::PROGRAMMING_LANGUAGES.each do |p_language| %>

        <li class="card-category">

          <%= link_to slots_path(p_language) do %>

            <h2 class="programming_language">
              <strong>
                <%= p_language %>
              </strong>
              Slots
            </h2>
          <% end %>

        </li>
      <% end %>
  </ul>

<% else %>
  <div class="welcome">
    <p>
      Please
      <%= link_to 'Sign up', new_user_registration_path, class: 'badge badge-secondary', class: 'btn btn-outline-primary' %>
       or
       <%= link_to 'Log in', new_user_session_path, class: 'badge badge-secondary', class: 'btn btn-outline-primary' %>
    </p>
  </div>
<% end %>
